.App{
  text-align: center;
}
.main{
  background-color: royalblue;
  padding: 100px;
  


}

.header{

  background-color:yellowgreen; 
  padding: 10px;

}

.footer{
 background-color: yellow;
 padding: 10px;
  
}

